header
  div#logo-container
    img#logo(src="/img/logo-coding.png", alt="Logo de Polydata")
    div#hdr
      p#sitetitle Labo IA Sémantique
      p#subtitle
        | Intelligence artificielle
        br
        | Web sémantique
  nav
    h1.hide Menu de navigation
    ul.links
      li
        a#home-link(href="/") Accueil
      li
        a#team-link(href="/team") Équipe
      li
        a#projects-link(href="/projects") Projets
      li
        a#publications-link(href="/publications") Publications
      li
        div.dropdown
          a.dropbtn.language FR #[i.fa.fa-caret-down]
          div.dropdown-content
            a.active FR
            a EN
